*,
*::before,
*::after {
    /* border: 1px dotted hotpink; */
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1,
p  { margin-top: 0; }

h1 {
    color: white;
    line-height: 1.2;
}

p {
    font-size: .875rem;
    font-weight: 200;
    line-height: 1.6;
}

.span-exclamation {
    color: #ece5da;
    position: absolute;
    top: 5rem;
    margin-left: 8;
    transition: all .3s linear;
    visibility: hidden;
}

.a-btn {
    background: #3ACED9;
    border-radius: 20px;
    color: #333;
    display: inline-block;
    font-size: .825rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 2em;
    padding: 1em 2em .9em; /* otherwise not aligned, dunno why */
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    width: 90%;
}

.hero {
    background: #203F49;
    color: #ddd;
    padding: 6em 0;
}

.hero-content { width: 65%; }

/* ############################################################################

Font- and Deco-Fun

.span-exclamation above is part of the set up

Toggle the standalone `/*` below to toggle Challenge #3 result.

Lifted, adapted from: https://codepen.io/Apira/pen/KKdzbrr?editors=1100

############################################################################ */

/* /* */

h1 {
    color: #f1ebe5;
    font-family: "Paytone One";
    font-size: 2.8rem;
    letter-spacing: -4px;
    line-height: 2.8rem;
    text-shadow: 0 5px 7px #c4b59d, 0 -2px 1px #fff;
    text-transform: uppercase;
}

p {
    border-left: 7px solid orange;
    color: #525250;
    padding-left: 1rem;
}

.span-code {
    background: oldlace;
    border: 1px solid crimson;
    color: crimson;
    font-family: serif;
    font-weight: bold;
    padding: 0 0.5rem;
}

.a-btn {
    background: #9D9891;
    box-shadow: 0 3px 5px #c4b59d, 0 -1px 1px #F8F6F2;
    color: #F8F6F2;
    transition: background .2s linear;
}

.a-btn:hover { background: orange; }

.a-btn::after {
    border-radius: 50rem;
    color: transparent;
    content: "Let's go!";
    font-family: "Paytone One";
    font-size: 4rem;
    position: absolute;
    margin-left: -7rem;
    margin-top: -12rem;
    transform: scale(2.5) rotate(5deg);
    transition: all .15s linear;
}

.a-btn:hover::after {
    background: floralwhite;
    border: 9px solid deeppink;
    box-shadow: 0 5px 7px #c4b59d, inset 0 1px 2px #c4b59d;
    color: deeppink;
    padding: 0 0.5em;
    text-shadow: 0 2px 4px #c4b59d, 0 -2px 1px #fff;
    transform: scale(1) rotate(-10deg);
    transition-delay: .9s;
}

.hero { background: #ece5da; }

.hero-content { width: 90%; }

@media (min-width: 680px) {

    h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .hero-content { width: 65%; }

}

@media (min-width: 1160px) {

    .container::before {
        content: 'x';
        color: transparent;
        font-size: 19rem;
        margin-left: -9rem;
        margin-top: -2rem;
        position: absolute;
        z-index: 999;
    }

    .span-exclamation {
        color: orange;
        display: block;
        font-family: "Paytone One";
        font-size: 12rem;
        margin-left: -8rem;
        text-shadow: 0 5px 7px #c4b59d, 0 -2px 1px #fff;
        transform: rotate(-17deg);
        visibility: visible;
    }

    .a-btn:hover .span-exclamation {
        transform: rotate(-0deg);
        transition: transform .2s linear;
    }

}
