/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-ash:   #6F737F;
  --clr-cloud: #E0E0E2;
  --clr-dusk:  #3B4050;
  --clr-gold:  #A59678;
  --clr-night: #2E323F;

  --fnt-body:     'Montserrat', sans-serif;
  --fnt-heading:  'Saira Condensed', sans-serif;
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-body);
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
h3,
p { margin-top: 0; }

h1,
h2,
h3 { font-family: var(--fnt-heading); }

.aside-h3,
.top-point-h2 { font-size: 1.875rem; }

.aside-p,
.top-point-p { font-size: 1.125rem; }

h1 {
  font-size: 4.625rem;
  letter-spacing: -2px;
  line-height: 1.1;
}

.article-h2 { font-size: 2.25rem; }

.footer-h2 { font-size: 2.75rem; }

.footer-h3 { font-size: 1.3125rem; }

.article-p { font-size: 1.3125rem; }

.hero-p { font-size: 1.5rem; }

/* ---------- */

.a-footer,
.a-hero-cta,
.a-nav-item { text-decoration: none; }

.a-hero-cta,
.a-nav-item { font-family: var(--fnt-heading); }

.a-hero-cta {
  border: 1px solid black;
  border-radius: 1em;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: .8em;
  padding: .2em 1.7em;
  text-transform: uppercase;
}


/* #################### */
/* NAVIGATION :: HEADER */
/* -------------------- */

.btn--close-nav,
.btn--open-nav {
  background: transparent;
  border: none;
  color: currentColor;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
}

.a-nav-item {
  color: currentColor;
  font-size: 1.75rem;
  margin: 1em 0;
  text-transform: uppercase;
}

.btn--close-nav { margin-right: 2.5vw; }

header {
  background: var(--clr-night);
  color: var(--clr-cloud);
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

nav {
  align-items: flex-end;
  background: var(--clr-night);
  display: none;
  flex-direction: column;
  padding: 1em 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
}

.container--header { justify-content: space-between; }

.header-nav-items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.show-nav { display: flex; }


/* ###### */
/* LAYOUT */
/* ------ */

main { margin-top: 5em; }

.container {
  margin: 0 auto;
  width: 95vw;
}

.flexrow { display: flex; }

.main-section-hero {
  padding: 4em 0;
}


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 700px) {

  .a-nav-item { font-size: 1.125rem; }

}

@media (min-width: 1000px) {

  .container { max-width: 1200px; }

}
