/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-ash:   #6F737F;
  --clr-dusk:  #3B4050;
  --clr-gold:  #A59678;
  --clr-night: #2E323F;

  --fnt-body:     'Montserrat', sans-serif;
  --fnt-heading:  'Saira Condensed', sans-serif;
}

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 700px) {

}

@media (min-width: 1000px) {

  .container {
    margin: 0 auto;
    max-width: 1200px;
  }

}
