/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-ash:   #6F737F;
  --clr-cloud: #E0E0E2;
  --clr-dusk:  #3B4050;
  --clr-gold:  #A59678;
  --clr-night: #2E323F;

  --fnt-body:     'Montserrat', sans-serif;
  --fnt-heading:  'Saira Condensed', sans-serif;
}

*,
*::after,
*::before {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-body);
  font-size: .8rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
h3,
p { margin-top: 0; }

h1,
h2,
h3 { font-family: var(--fnt-heading); }

.aside-h3,
.top-point-h2 {
  font-size: 1.875rem;
  margin-bottom: .3em;
}

.aside-p,
.top-point-p { font-size: 1.125rem; }

h1 {
  font-size: 4.625rem;
  letter-spacing: -2px;
  line-height: 1.1;
}

.article-h2 { font-size: 2.25rem; }

.footer-h2 { font-size: 2.75rem; }

.footer-h3 { font-size: 1.3125rem; }

.article-p { font-size: 1.3125rem; }

.hero-p { font-size: 1.5rem; }

/* ---------- */

.a-footer,
.a-hero-cta,
.a-nav-item { text-decoration: none; }

.a-hero-cta,
.a-nav-item { font-family: var(--fnt-heading); }

.a-footer { margin-bottom: 1em; }

.a-hero-cta {
  border: 1px solid black;
  border-radius: 1em;
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: .8em;
  padding: .2em 1.7em;
  text-transform: uppercase;
}


/* #################### */
/* NAVIGATION :: HEADER */
/* -------------------- */

.btn--close-nav,
.btn--open-nav {
  background: transparent;
  border: none;
  color: currentColor;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
}

.a-nav-item {
  color: currentColor;
  font-size: 1.75rem;
  margin: 1em 0;
  text-transform: uppercase;
}

.a-sign-up-cta {
  border: 1px solid black;
  border-radius: 1em;
  margin-top: 0;
  padding: .2em 1.2em;
}

.btn--close-nav { margin-right: 2.5vw; }

header {
  background: var(--clr-night);
  color: var(--clr-cloud);
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

nav {
  align-items: flex-end;
  background: var(--clr-night);
  display: none;
  flex-direction: column;
  padding: 1em 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
}

.container--header { justify-content: space-between; }

.header-nav-items {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.show-nav { display: flex; }

.user-col {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: center;
}

.logo-img { margin: 1.1em 0; }

@media (min-width: 700px) {

  .a-nav-item {
    align-self: center;
    font-size: 1.125rem;
    margin: 0 0 0 2.5em;
  }

  .a-sign-up-cta { margin-left: 1em; }

  .btn--close-nav,
  .btn--open-nav { display: none; }

  nav {
    display: unset;
    padding: unset;
    position: unset;
    width: unset;
  }

  .header-nav-items {
    flex-direction: unset;
    height: 100%;
    margin: unset;
  }

  .user-col {
    flex-direction: unset;
    margin: 0 0 0 2.5em;
  }

}


/* ###### */
/* LAYOUT */
/* ------ */

article,
footer,
.main-section-hero,
.main-section-top-points {
  padding: 4em 0;
}

.aside-col,
.top-point-col {
  margin: 2em 0;
  text-align: center;
}

aside { margin: 2em 0; }

footer { font-size: .95rem; }

main { margin-top: 5em; }

.aside-col { padding: 1.3em; }

.container {
  margin: 0 auto;
  width: 95vw;
}

.flexrow { display: flex; }

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  text-align: center;
}

.footer-col:first-child {
  flex-basis: 100%;
  margin-bottom: 1em;
  text-align: unset;
}


/* ###### */
/* IMAGES */
/* ------ */

.article-img { margin-bottom: 1.3125em; }


/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 700px) {

  .aside-h3 { font-size: 1.3rem; }

  .aside-p { font-size: 1rem; }

  aside {
    display: flex;
    justify-content: space-between;
  }

  .aside-col { flex-basis: 31.5%; }

  .article-img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }

}

@media (min-width: 1000px) {

  main,
  footer { font-size: 1rem; }

  h1 { flex-basis: 30%; margin-bottom: 0; }

  .footer-h2 { text-align: center; }

  .aside-h3 { font-size: 1.875rem; }

  .aside-p { font-size: 1.125rem; }

  aside {
    flex-basis: 31%;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .article-col,
  .hero-col { flex-basis: 63%; }

  .aside-col,
  .top-point-col { margin: unset; }

  .aside-col +
  .aside-col { margin-top: 1.3em; }

  .container { max-width: 1200px; }

  .container--article,
  .container--hero,
  .container--top-points {
    display: flex;
    justify-content: space-between;
  }

  .hero-col{ margin-top: auto; }

  .top-point-col {
    flex-basis: 30%;
  }

  .article-img { height: unset; }

}
