/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --clr-caramel: #824936;
  --clr-choco: #222C2A;
  --clr-cream: #F3EED9;

  --fnt-playfair: 'Playfair Display', serif;
  --fnt-roboto:   'Roboto', sans-serif;
}

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-roboto);
  font-size: 1rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


/* ###### */
/* LAYOUT */
/* ------ */

.container {
  margin: 0 auto;
  max-width: 1128px;
  width: 90%;
}

.container--hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 660px;
}
