/* ###### */
/* GLOBAL */
/* ------ */

:root {
  --fnt-playfair: 'Playfair Display', serif;
  --fnt-roboto:   'Roboto', sans-serif;
}

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-roboto);
  font-size: 1rem;
  margin: 0;
}
