/*
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout
2. The image should line up with
   the sidebar in the section
   below

*/

/* ###### */
/* GLOBAL */
/* ###### */

*, *::before, *::after {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ########## */

h1,
h2 { font-weight: 900; }

h1 { font-size: 3rem; }

h2 { font-size: 2.25rem; }

.hero-p {
  font-size: 1.3125rem;
  margin-bottom: 3em;
}

.a-btn {
  background-color: #38CFD9;
  border-radius: 100px;
  color: #23424A;
  display: inline-block;
  font-weight: 900;
  padding: .75em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.a-btn:focus,
.a-btn:hover { opacity: .75; }


/* ###### */
/* LAYOUT */
/* ###### */

.col + .col { margin-left: 30px; }

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

/* .col is a flex item if inside a .row */
.col { width: 100%; }

.hero {
  background-color: #23424A;
  color: #FFF;
  padding: 100px 0;
}

.hero-content { width: 62%; }

/* display: flex => flex container */
.row { display: flex; }
