/*
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout
2. The image should line up with
   the sidebar in the section
   below

*/

/* ###### */
/* GLOBAL */
/* ###### */

:root {
  --clr-accent: #136C72;
}

*, *::before, *::after {
  /* border: 1px dotted hotpink; */
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 0;
}

img { max-width: 100%; }

/* ########## */
/* TYPOGRAPHY */
/* ########## */

h1,
h2,
p { margin-top: 0; }

h1,
h2 { font-weight: 900; }

h1 { font-size: 3rem; }

h2 { font-size: 2.25rem; }

.article-h2 { color: var(--clr-accent); }

.aside-p { margin-bottom: 3em; }

.aside-p:last-child { margin-bottom: 0; }

.hero-p {
  font-size: 1.3125rem;
  margin-bottom: 3em;
}

.a-btn {
  background-color: #38CFD9;
  border-radius: 100px;
  color: #23424A;
  display: inline-block;
  font-weight: 900;
  padding: .75em 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.a-btn:focus,
.a-btn:hover { opacity: .75; }


/* ########## */
/* NAVIGATION */
/* ########## */

.header-nav-li + .header-nav-li { margin-left: .375em; }

.header-nav-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 1em 0;
}

.a-header-nav {
  border: 2px solid transparent;
  border-radius: 7em;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  padding: .375em 1.125em;
  text-decoration: none;
  text-transform: uppercase;
}

.a-header-nav:hover { border-color: #fff; }

.current {
  background: #fff;
  color: var(--clr-accent);
  cursor: unset;
}

header { background: var(--clr-accent); }


/* ###### */
/* LAYOUT */
/* ###### */

article,
.hero-content { width: 62%; }

aside,
.hero-img { width: 36%; }

aside {
  background-color: var(--clr-accent);
  color: white;
  padding: 3em 2em;
  text-align: center;
  width: 36%;
}

section { padding: 100px 0; }

.col + .col { margin-left: 30px; } /* TODO: deleteme? */

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

/* .col is a flex item if inside a .row */
.col { width: 100%; }

.hero {
  background-color: #23424A;
  color: #FFF;
}

/* display: flex => flex container */
.row {
  display: flex;
  justify-content: space-between;
}


/* ###### */
/* IMAGES */
/* ###### */

.hero-img { object-fit: cover; }


/* ##### */
/* UTILS */
/* ##### */

.push-left { margin-right: auto; }
